@{
    ViewData["Title"] = "Home";
}

<div class="landingSlliderWrapper">

    <div class="swiper-container landingSlider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="landingSlideHolder">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-8 col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="landingHero">
                                    <h1>We're a digital agency.</h1>
                                    <a href="#">Getting Started</a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4 col-xl-6" data-aos="fade-down" data-aos-delay="400">
                                <div class="landingHeroImage">
                                    <img src="~/img/sliderImage1.jpg" alt="SlideImg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="landingSlideHolder">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-8 col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="landingHero">
                                    <h1>We're a digital agency.</h1>
                                    <a href="#">Getting Started</a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4 col-xl-6" data-aos="fade-down" data-aos-delay="400">
                                <div class="landingHeroImage">
                                    <img src="~/img/sliderImage1.jpg" alt="SlideImg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="landingSlideHolder">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-8 col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="landingHero">
                                    <h1>We're a digital agency.</h1>
                                    <a href="#">Getting Started</a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4 col-xl-6" data-aos="fade-down" data-aos-delay="400">
                                <div class="landingHeroImage">
                                    <img src="~/img/sliderImage1.jpg" alt="SlideImg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            @* <div class="swiper-slide">
                <div class="landingSlideHolder">

                </div>
                </div>

                <div class="swiper-slide">
                <div class="landingSlideHolder">

                </div>
                </div> *@

        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        @* <div class="swiper-scrollbar"></div> *@
    </div>

    <div class="landingSliderBoxesHolder">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 animate-box" data-aos="fade-up" data-aos-delay="1000">
                    <div class="landingSliderBox active">
                        <div class="iconHolder">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M462,112h-48c-27.57,0-50,22.43-50,50v300c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V162    C512,134.43,489.57,112,462,112z M472,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V162c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M98,264H50c-27.57,0-50,22.43-50,50v148c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V314    C148,286.43,125.57,264,98,264z M108,462c0,5.514-4.486,10-10,10H50c-5.514,0-10-4.486-10-10V314c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M280,0h-48c-27.57,0-50,22.43-50,50v412c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V50C330,22.43,307.57,0,280,0z     M290,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V50c0-5.514,4.486-10,10-10h48c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>Future Vision.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 animate-box" data-aos="fade-up" data-aos-delay="1300">
                    <div class="landingSliderBox">
                        <div class="iconHolder">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                                enable-background="new 0 0 512.115 512.115" height="512" viewBox="0 0 512.115 512.115"
                                width="512">
                                <path
                                    d="m415.746 317.493c-42.235 42.236-90.968 76.059-141.115 97.987l6.46 67.218c.555 5.779 4.396 10.719 9.86 12.682 1.655.594 3.368.883 5.068.883 3.911 0 7.746-1.532 10.608-4.394l96.899-96.898c26.951-26.951 37.809-63.991 32.584-99.076-6.541 7.362-13.334 14.568-20.364 21.598z" />
                                <path
                                    d="m317.346 194.676c3.584 3.584 8.35 5.558 13.419 5.558 5.068 0 9.834-1.974 13.418-5.558 7.398-7.399 7.398-19.438 0-26.837-3.699-3.699-8.559-5.549-13.419-5.549-4.859 0-9.719 1.85-13.418 5.549-7.398 7.399-7.398 19.438 0 26.837z" />
                                <path
                                    d="m508.622 15.252c-1.169-5.996-5.856-10.683-11.852-11.852-38.512-7.51-82.264-2.387-126.591 13.47l124.972 124.972c15.857-44.327 20.98-88.079 13.471-126.59z" />
                                <path
                                    d="m140.158 216.877c-6.467 11.643-12.263 23.435-17.332 35.296-8.028 18.788-4.042 39.432 10.404 53.877l72.741 72.741c9.511 9.511 21.708 14.488 34.293 14.488 6.53 0 13.166-1.34 19.584-4.083 11.862-5.069 23.653-10.865 35.297-17.332z" />
                                <path
                                    d="m215.742 117.489c-22.671 22.671-42.737 47.288-59.587 72.959l165.418 165.418c25.672-16.85 50.289-36.916 72.96-59.587 38.097-38.097 68.098-81.01 88.25-124.379l-142.662-142.662c-43.369 20.152-86.282 50.154-124.379 88.251zm149.654 98.4c-9.25 9.25-21.549 14.345-34.631 14.345-13.083 0-25.382-5.095-34.632-14.345-19.096-19.096-19.096-50.167 0-69.263 19.095-19.095 50.166-19.096 69.263 0 19.095 19.096 19.095 50.167 0 69.263z" />
                                <path
                                    d="m146.626 365.582c-5.857-5.858-15.355-5.858-21.213 0l-120.925 120.927c-5.858 5.858-5.858 15.355 0 21.213 2.929 2.929 6.768 4.394 10.606 4.394s7.678-1.464 10.606-4.394l120.926-120.926c5.859-5.859 5.859-15.356 0-21.214z" />
                                <path
                                    d="m77.364 317.532-40.843 40.842c-5.858 5.858-5.858 15.355 0 21.213 2.929 2.929 6.768 4.394 10.606 4.394s7.678-1.465 10.606-4.393l40.843-40.842c5.858-5.858 5.858-15.355 0-21.213-5.856-5.859-15.354-5.858-21.212-.001z" />
                                <path
                                    d="m173.464 413.633-40.842 40.842c-5.858 5.858-5.858 15.355 0 21.213 2.929 2.929 6.768 4.394 10.606 4.394s7.678-1.464 10.606-4.394l40.842-40.842c5.858-5.858 5.858-15.355 0-21.213-5.856-5.859-15.354-5.859-21.212 0z" />
                                <path
                                    d="m29.511 231.119 66.961 6.435c21.925-50.204 55.775-98.996 98.058-141.278 6.996-6.996 14.153-13.737 21.444-20.223-5.532-.798-11.16-1.207-16.853-1.207-30.982 0-60.063 12.017-81.883 33.837l-96.898 96.898c-4.105 4.105-5.474 10.212-3.511 15.677 1.962 5.464 6.902 9.305 12.682 9.861z" />
                            </svg>
                        </div>
                        <h3>Product Design.</h3>
                        <p>There are many variations of passages of available, but the majority alteration in some form.</p>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 animate-box" data-aos="fade-up" data-aos-delay="1600">
                    <div class="landingSliderBox last">
                        <div class="iconHolder">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M240,272V62h-15c-60.1,0-116.602,23.404-159.099,65.901S0,226.9,0,287c0,60.1,23.404,116.602,65.901,159.099    S164.9,512,225,512c60.1,0,116.602-23.404,159.099-65.901S450,347.1,450,287v-15H240z M225,482c-107.523,0-195-87.477-195-195    c0-102.477,79.458-186.744,180-194.429V302h209.429C411.744,402.542,327.477,482,225,482z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M446.099,65.901C403.602,23.404,347.1,0,287,0h-15v240h240v-15C512,164.9,488.596,108.398,446.099,65.901z M302,210    V30.571C397.59,37.877,474.123,114.41,481.429,210H302z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>Inovative Solutions.</h3>
                        <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="sectionOne">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sectionOneTitle">
                    <h1 class="pt-3 mb-0 font-weight-bolder">Services.</h1>
                    <span class="text-uppercase">WE WORK WITH YOU, NOT FOR YOU</span>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Digital Strategy
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />

	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        UX Design
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <   g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />

	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Product Design
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Content Strategy
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Design & Concept
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Social Media
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Media Planing
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        Brand Identity
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="sectionOneBox d-flex justify-content-between">
                    <div class="sectionOneBoxText">
                        SEO Optimization
                    </div>
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792    H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083    c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z    " />
	                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionTwo">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="sectionTwoHeading">
                    <div class="sectionTwoTitle">
                        <h1>Works.</h1>
                        <p>THINGS WE'VE MADE</p>
                    </div>
                    <a href="#">View All</a>
                </div>
            </div>
        </div>
    </div>
    <div class="worksSlider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="worksSlide">
                    
                </div>
            </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
</section>
<section class="sectionThree">

</section>
<section class="sectionFour">

</section>