@{
    ViewData["Title"] = "Home";
}

<div class="landingSlliderWrapper">

    <div class="swiper-container landingSlider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="landingSlideHolder">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-8 col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="landingHero">
                                    <h1>We're a digital agency.</h1>
                                    <a href="#">Getting Started</a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4 col-xl-6" data-aos="fade-down" data-aos-delay="400">
                                <div class="landingHeroImage">
                                    <img src="~/img/sliderImage1.jpg" alt="SlideImg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="landingSlideHolder">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-8 col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="landingHero">
                                    <h1>We're a digital agency.</h1>
                                    <a href="#">Getting Started</a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4 col-xl-6" data-aos="fade-down" data-aos-delay="400">
                                <div class="landingHeroImage">
                                    <img src="~/img/sliderImage1.jpg" alt="SlideImg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="landingSlideHolder">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-lg-8 col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="landingHero">
                                    <h1>We're a digital agency.</h1>
                                    <a href="#">Getting Started</a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-lg-4 col-xl-6" data-aos="fade-down" data-aos-delay="400">
                                <div class="landingHeroImage">
                                    <img src="~/img/sliderImage1.jpg" alt="SlideImg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            @* <div class="swiper-slide">
                <div class="landingSlideHolder">

                </div>
                </div>

                <div class="swiper-slide">
                <div class="landingSlideHolder">

                </div>
                </div> *@

        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        @* <div class="swiper-scrollbar"></div> *@
    </div>
    
    <div class="landingSliderBoxesHolder">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 animate-box" data-aos="fade-up" data-aos-delay="1000">
                    <div class="landingSliderBox active">
                        <div class="iconHolder">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M462,112h-48c-27.57,0-50,22.43-50,50v300c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V162    C512,134.43,489.57,112,462,112z M472,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V162c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M98,264H50c-27.57,0-50,22.43-50,50v148c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V314    C148,286.43,125.57,264,98,264z M108,462c0,5.514-4.486,10-10,10H50c-5.514,0-10-4.486-10-10V314c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M280,0h-48c-27.57,0-50,22.43-50,50v412c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V50C330,22.43,307.57,0,280,0z     M290,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V50c0-5.514,4.486-10,10-10h48c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>Future Vision.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 animate-box" data-aos="fade-up" data-aos-delay="1300">
                    <div class="landingSliderBox">
                        <div class="iconHolder">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M462,112h-48c-27.57,0-50,22.43-50,50v300c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V162    C512,134.43,489.57,112,462,112z M472,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V162c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M98,264H50c-27.57,0-50,22.43-50,50v148c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V314    C148,286.43,125.57,264,98,264z M108,462c0,5.514-4.486,10-10,10H50c-5.514,0-10-4.486-10-10V314c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M280,0h-48c-27.57,0-50,22.43-50,50v412c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V50C330,22.43,307.57,0,280,0z     M290,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V50c0-5.514,4.486-10,10-10h48c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>Future Vision.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page.</p>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 animate-box" data-aos="fade-up" data-aos-delay="1600">
                    <div class="landingSliderBox last">
                        <div class="iconHolder">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M462,112h-48c-27.57,0-50,22.43-50,50v300c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V162    C512,134.43,489.57,112,462,112z M472,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V162c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M98,264H50c-27.57,0-50,22.43-50,50v148c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V314    C148,286.43,125.57,264,98,264z M108,462c0,5.514-4.486,10-10,10H50c-5.514,0-10-4.486-10-10V314c0-5.514,4.486-10,10-10h48    c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M280,0h-48c-27.57,0-50,22.43-50,50v412c0,27.57,22.43,50,50,50h48c27.57,0,50-22.43,50-50V50C330,22.43,307.57,0,280,0z     M290,462c0,5.514-4.486,10-10,10h-48c-5.514,0-10-4.486-10-10V50c0-5.514,4.486-10,10-10h48c5.514,0,10,4.486,10,10V462z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>Future Vision.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="sectionOne">

</section>