/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap");
/* width */
*::-webkit-scrollbar {
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #000000;
  cursor: pointer;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  border: 2px solid #268348;
  background: #268348;
  border-radius: 4px;
  cursor: pointer;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border: 2px solid #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}
body.navActive ,
body.formActive {
  overflow: hidden;
}
/*CUSTOM PRELOADER Start*/
.loader-bg{
  position: fixed;
  z-index: 999999;
  background: #000000;
  width: 100%;
  height: 100vh;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.loader-bg.removeLoader{
  transform: translateY(-100%);
}
.loader-p{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader-p:before, .loader-p:after{
  content: '';
  border: 1em solid #15e38a;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader-p:before{
  animation-delay: 0.5s;
}

@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
/*CUSTOM PRELOADER End*/
.row{
  overflow: hidden;
}
/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000000;
  padding: 20px 0px;
}
header.scrolled{
  padding: 10px 0;
}
header .headerInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .headerInner .headerLogo a {
  display: block;
  width: 110px;
  height: 80px;
}
header.scrolled .headerInner .headerLogo a{
  height: 60px;
}
header .headerInner .headerLogo svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
header .headerInner .headerLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .headerInner .headerLogo svg path {
  fill: #ffffff;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
header .headerInner .headerLogo svg:hover path {
  fill: #268348;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.linksNavbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  padding: 0px 15px;
}
nav ul li:last-child {
  padding-right: 0px;
}
nav ul li a {
  position: relative;
  color: #ffff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav ul li a.active::before,
nav ul li a::before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  bottom: -4px;
  left: 0px;
  background-color: #ffffff;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
nav ul li a.active::before {
  background-color: #268348;
  width: 35px;
}
nav ul li a:hover::before {
  background-color: #268348;
  width: 35px;
}
.hamburgerMenu {
  position: relative;
  z-index: 200;
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 4px;
  margin: 4px 0;
  border-radius: 10px;
  background-color: #268348;
  transition: all 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.hamburgerMenu span:nth-child(2) {
  width: 30px;
}
.hamburgerMenu.active span:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -16px;
}
.hamburgerMenu.active span:nth-child(2) {
  visibility: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
}
.hamburgerMenu.active span:nth-child(3) {
  transform: rotate(-45deg);
}
/* End Header */
.landingSlliderWrapper {
  position: relative;
  min-height: 100vh;
  padding-top: 120px;
}
.landingSlider {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.landingSlider .swiper-pagination-progressbar {
  top: 60%;
  transform: translateY(-60%);
}
.landingSlider .swiper-pagination-progressbar {
  background: none;
}
.landingSlider
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: #268348;
}
.landingSlider .swiper-button-prev,
.landingSlider .swiper-button-next {
  color: #268348;
}
.landingSlideHolder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.landingSlideHolder .landingHeroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.landingSlideHolder .landingHero {
  display: block;
  width: 100%;
  height: 100%;
}
.landingSlideHolder .landingHero h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: bold;
}
.landingSlideHolder .landingHero a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 70px;
  border: 2px solid #268348;
}
.landingSlideHolder .landingHero a::after {
  content: "";
  width: 0px;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #268348;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  z-index: -1;
}
.landingSlideHolder .landingHero a:hover::after {
  width: 100%;
}
.landingSliderBoxesHolder {
  position: absolute;
  width: 100%;
  bottom: -70px;
  left: 0;
  z-index: 1;
}
.landingSliderBoxesHolder::after {
  content: "";
  height: 30px;
  width: 2px;
  background-color: #268348;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.landingSliderBoxesHolder .landingSliderBox {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: #1b1b1b;
  padding: 40px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.landingSliderBoxesHolder .container{
  position: relative;
}
.landingSliderBoxesHolder .container::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -50px;
  width: 200px;
  height: 100px;
  background-color: #268348;
  z-index: 2;
}
.landingSliderBoxesHolder .landingSliderBox.active,
.landingSliderBoxesHolder .landingSliderBox:hover {
  background-color: #268348;
}
.landingSliderBoxesHolder .landingSliderBox .iconHolder {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.landingSliderBoxesHolder .landingSliderBox .iconHolder svg {
  width: 50px;
  height: 50px;
  fill: #268348;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.landingSliderBoxesHolder .landingSliderBox.active .iconHolder svg,
.landingSliderBoxesHolder .landingSliderBox:hover .iconHolder svg {
  fill: #ffffff;
}
.landingSliderBoxesHolder .landingSliderBox h3 {
  position: relative;
  margin-bottom: 50px;
}
.landingSliderBoxesHolder .landingSliderBox h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background-color: #268348;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.landingSliderBoxesHolder .landingSliderBox.active h3::after,
.landingSliderBoxesHolder .landingSliderBox:hover h3::after {
  background-color: #ffffff;
}
.sectionDivider{
  position: relative;
  z-index: 100;
  background-color: #ffffff;
}
.sectionDivider::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 2px;
  height: 60px;
  background-color: #268348;
}
.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive,
.sectionSix {
  min-height: calc(100vh - 120px);
  padding: 30px 0;
  overflow: hidden;
}
/* Section One */
.sectionOne {
  padding-top: 120px;
  background: #ffffff;
}
.sectionOneBox {
  padding: 35px 25px;
  background: #f3f3f3;
  cursor: pointer;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  position: relative;
  overflow: hidden;
}
.sectionOneTitle {
  position: relative;
}
.sectionOneTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #268348;
}
.sectionOneTitle {
  margin-bottom: 40px;
}
.sectionOneTitle h1 {
  font-size: 40px;
  color: black;
}
.sectionOneTitle span {
  color: #268348;
  font-weight: 600;
  font-size: 14px;
}
.sectionOneBoxIcon{
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translate(-30px,-50%) scale(0.2);
  width: 60px;
  height: 60px;
  visibility: hidden;
  opacity: 0;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  will-change: transform;
}
.sectionOneBoxIcon svg{
  width: 60px;
  height: 60px;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.sectionOneBox:hover .sectionOneBoxIcon{
  visibility: visible;
  opacity: 1;
  left:-15px;
  transform: translateY(-50%) scale(1);
}
.sectionOneBox:hover .sectionOneBoxIcon svg{
  fill: #ffffff;
}
.sectionOneBox:hover {
  background: #268348;
  padding-right: 15px;
}
.sectionOneBox:hover .arrow-icon svg {
  fill: white;
}
.sectionOneBox:hover .sectionOneBoxText {
  color: white;
  padding-left: 35px;
}

.arrow-icon {
  width: 30px;
}

.arrow-icon svg {
  fill: #747474;
}

.sectionOneBoxText {
  color: black;
  font-size: 18px;
  font-weight: 800;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
/* Section One End */


/* Section Two */
.sectionTwo {
  position: relative;
  background-color: #ffffff;
}

.sectionTwo .sectionTwoHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.sectionTwo .sectionTwoHeading .sectionTwoTitle {
  position: relative;
}
.sectionTwo .sectionTwoHeading .sectionTwoTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #268348;
}
.sectionTwo .sectionTwoHeading .sectionTwoTitle h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
.sectionTwo .sectionTwoHeading .sectionTwoTitle p {
  color: #268348;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.sectionTwo .sectionTwoHeading a {
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  border: 2px solid #268348;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.sectionTwo .sectionTwoHeading a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #268348;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.sectionTwo .sectionTwoHeading a:hover {
  color: #ffffff;
}
.sectionTwo .sectionTwoHeading a:hover::before {
  width: 100%;
}
.worksSlider {
  position: relative;
  margin: 0 auto;
}
.worksSlider .swiper-container {
  width: 100%;
  height: 100%;
}

.worksSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.worksSlider .worksSlide {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  cursor: pointer;
}
.worksSlider .worksSlide .worksSlideContent {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.worksSlider .worksSlide .worksSlideContent .workSlideContentInner {
  will-change: transform;
  transform: translateX(-20px);
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.worksSlider .worksSlide .worksSlideContent .workSlideContentInner h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.worksSlider .worksSlide .worksSlideContent .workSlideContentInner p {
  font-size: 16px;
  color: #e0e0e0;
}
.worksSlider .worksSlide:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(0.97);
  background-size: cover;
}
.worksSlider .worksSlide:hover .worksSlideContent .workSlideContentInner {
  transform: translateX(0px);
}
.worksSlider .worksSlide:hover .worksSlideContent {
  visibility: visible;
  opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  bottom: -60px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #268348;
  border: 1px solid #268348;
  transform: scale(1.05);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #d3d3d3;
  background-color: transparent;
  opacity: 1;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background-color: #268348;
}
/* Section Two End */


/* Section Three Start*/
.sectionThree {
  position: relative;
  background: white;
}

.sectionThreeTitle {
  position: relative;
}

.sectionThreeTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #268348;
}

.sectionThreeTitle {
  margin-bottom: 40px;
}

.sectionThreeTitle h1 {
  font-size: 40px;
  color: black;
}

.sectionThreeTitle span {
  color: #268348;
  font-weight: 600;
  font-size: 14px;
}

.sectionThreeDescription {
  display: flex;
  align-items: center;
  height: 100%;
  color: #747474;
}

.aboutFirstImage {
  width: 100%;
  position: relative;
}

.aboutSecondImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutSecondImages div {
  position: relative;
}

.aboutSecondImages div div {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.aboutSecondImages div div span {
  color: #d3d3d3;
}

.aboutSecondImages div div h4,
.aboutFirstImage h4 {
  font-weight: 700;
}

.aboutFirstImage div {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.aboutFirstImage div span {
  color: #d3d3d3;
}

.sectionThree img {
  filter: grayscale(100%);
  transition: 1300ms cubic-bezier(0.17, 0.67, 0, 1.01);
  cursor: pointer;
}

.aboutFirstImage:hover img,
.aboutSecondImages div:hover img {
  filter: grayscale(0%);
}

.aboutParagraph {
  color: #747474;
  padding-top: 10px;
}
/* Section Three End */

/* Section Four Start */
.sectionFour {
  background-color: white;
  position: relative;
}
.photoClients {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  padding: 0px;
}
.photoClients::before {
  content: "";
  background-color: #268348;
  height: 100px;
  width: 100px;
  position: absolute;
  right: -20px;
  bottom: -20px;
  z-index: 1;
}
.photoClients img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  z-index: 2;
}
.infosClients {
  display: flex;
  flex-direction: column;
  padding: 80px 0px 0px 10px;
}
.headerInfos h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0;
  color: black;
}
.headerInfos p {
  font-family: "Trade Gothic", "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #268348;
}
.hrHeaderInfos {
  border-top: 2px solid #268348 !important;
  width: 40px;
}
.contentInfos p {
  margin-top: 60px;
  font-size: 18px;
  color: #747474;
}
.clientName p{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
} 
.ourClients{
  width: 100%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin: 100px 0;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
}
.ourClients .clientIcon{
  display: inline-block;
  padding: 10px 20px;
}
/* Section Four End */

/* Section Five Start */
.sectionFive{
  background-color: #ffffff;
}
 .sectionFive .sectionFiveHeading {
  position: relative;
  text-align: center;
}
.sectionFive .sectionFiveHeading h1 {
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 10px;
}
.sectionFive .sectionFiveHeading p {
  color: #268348;
  font-weight: bold;
  font-size: 16x;
  text-transform: uppercase;
}
.newsSlider {
  position: relative;
  margin-top: 40px;
}
.newsSlider .swiper-container {
  width: 100%;
  height: 100%;
}

.newsSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.newsSlider .newsSlide {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  cursor: pointer;
}
.newsSlider .newsSlide .newsSlideContent {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  visibility: hidden;
  opacity: 0;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.newsSlider .newsSlide .newsSlideContent .newsSlideContentInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transform: translateY(50px);
  padding-bottom: 10px;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.newsSlider .newsSlide .newsSlideContent .newsSlideContentInner h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.newsSlider .newsSlide .newsSlideContent .newsSlideContentInner p {
  font-size: 16px;
  color: #e0e0e0;
  margin: 0;
}
.newsSlider .newsSlide .newsSlideContent .newsSlideContentInner .newsArrow {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 20px;
}
.newsSlider .newsSlide .newsSlideContent .newsSlideContentInner .newsArrow svg{
  fill: #ffffff;
}
.newsSlider .newsSlide:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(0.97);
  background-size: cover;
}
.newsSlider .newsSlide:hover .newsSlideContent .newsSlideContentInner {
  transform: translateY(0px);
}
.newsSlider .newsSlide:hover .newsSlideContent {
  visibility: visible;
  opacity: 1;
}
/* Section Five End */

/* Form Section Start*/
.formSection{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  padding: 60px 0;
  transform: translateY(-100%);
  transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
  overflow-y:auto;
}
.formSection.open{
  transform: translateY(0%);
  visibility: visible;
  opacity: 1;
}
.formSection .formHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formSection .formHeading .formHeadingTitle{
  position: relative;
}
.formSection .formHeading .formHeadingTitle::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #268348;
}
.formSection .formHeading .formHeadingTitle h1{
  font-weight: bold;
  margin-bottom: 5px;
}
.formSection .formHeading .formHeadingClose{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.formSection .formHeading .formHeadingClose span{
  color: #268348;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.formSection .formHeading .formHeadingClose svg{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  fill: #747474;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.formSection .formHeading .formHeadingClose:hover svg{
  fill: #000000;
}
/* Form Section End */

/* ===========FOOTER======= */
footer {
  display: flex;
  flex-direction: column;
}
.innerFooter {
  background-color: #1b1b1b;
}
.firstFooterContent{
  padding: 140px 0;
}
.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.footerLinks .animationDivider{
  display: flex;
}
.footerLinks a {
  position: relative;
  bottom: 0;
  border: 2px solid #268348;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.footerLinks a:hover {
  bottom: 10px;
}
.footerLinks a:hover svg {
  fill: #268348;
}
.footerLinks a svg {
  width: 20px;
  height: 20px;
  fill: white;
  margin: 5px;
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.h1Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 25px;
}
.buttonFooter {
  text-align: center;
}
.buttonFooter .contactButton{
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 1;
  border: 2px solid #268348;
  background: transparent;
  padding: 20px 50px;
  color: #ffffff !important;
  font-weight: bold;
  cursor: pointer;
}
.buttonFooter .contactButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0px;
  height: 100%;
  background-color: #268348;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.buttonFooter .contactButton:hover::before{
  width: 100%;
}
.content2Footer {
  background-color: #161616;
  color: white;
}
.inner1Content2Footer,
.inner2Content2Footer {
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cityParagraph {
  padding: 30px 0px 0px 0px;
  font-size: 25px;
  margin: 0px;
}
.numberParagraph {
  font-size: 20px;
  padding: 0px 0px 30px 0px;
  margin: 0px;
}
.content3Footer {
  overflow: hidden;
  background-color: black;
  color: white;
}
.paragraphContent3F {
  text-align: center;
  padding: 25px 0px 10px 0px;
}
.info2content3Footer {
  display: flex;
  justify-content: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
